.CollectionContainer {
  padding: 30px;
  margin-left: 80px; /* sidebar space */
}

.CollectionContainer h1 {
  font-size: 28px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0px;
  width: 350px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px ;
  color: darkblue;
  border-bottom: 5px solid darkblue;
}

/* Grid Layout */
.CollectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

/* Collection Card */
.CollectionCard {
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}

/* Hover Effect */
.CollectionCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

/* Collection Image */
.CollectionImage img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Collection Info */
.CollectionInfo {
  padding: 15px 20px;
}

.CollectionInfo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.CollectionInfo p {
  margin: 5px 0 0 0;
  color: #6b7280;
  font-size: 14px;
}
